<!-- PRODUCT -->
<div class="fluid-container content-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <!--All about product-->
                <div class="product-item">
                    <div class="product-item-title">
                        <h1>Ноутбук Acer Aspire ES1-131-C57G (NX.G17EU.004) Red</h1>
                    </div>
                    <!--all about slider-->
                    <div class="product-item-image">
                        <div class="product-main-image">
                            <div class="slick-slide" data-slick-index="0" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide120" style="transition: opacity 500ms ease; width: 560px; position: relative; left: 0px; top: 0px; z-index: 998; opacity: 1;">
                                <img src="~/Content/Images/product-item-slide-1.jpg" alt="" />
                            </div>
                            <div class="slick-slide" data-slick-index="0" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide120" style="transition: opacity 500ms ease; width: 560px; position: relative; left: 0px; top: 0px; z-index: 998; opacity: 0;">
                                <img src="~/Content/Images/product-item-slide-2.jpg" alt="" />
                            </div>
                            <div class="slick-slide" data-slick-index="0" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide120" style="transition: opacity 500ms ease; width: 560px; position: relative; left: 0px; top: 0px; z-index: 998; opacity: 0;">
                                <img src="~/Content/Images/product-item-slide-3.jpg" alt="" />
                            </div>
                            <div class="slick-slide" data-slick-index="0" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide120" style="transition: opacity 500ms ease; width: 560px; position: relative; left: 0px; top: 0px; z-index: 998; opacity: 0;">
                                <img src="~/Content/Images/product-item-slide-4.jpg" alt="" />
                            </div>
                        </div>

                        <div class="product-additional-images">
                            <div class="product-item-images-list">
                                <img src="~/Content/Images/product-item-slide-1.jpg" alt="" />
                            </div>
                            <div class="product-item-images-list">
                                <img src="~/Content/Images/product-item-slide-2.jpg" alt="" />
                            </div>
                            <div class="product-item-images-list">
                                <img src="~/Content/Images/product-item-slide-3.jpg" alt="" />
                            </div>
                            <div class="product-item-images-list">
                                <img src="~/Content/Images/product-item-slide-4.jpg" alt="" />
                            </div>
                        </div>
                    </div>
                    <!--end all about slider-->
                    <!--all about info and seller-->
                    <div class="product-item-info">
                        <div class="product-item-price-buttonbuy">
                            <p class="product-item-price">
                                <span>Розничная цена</span><br />
                                999$
                            </p>
                            <div class="product-item-info-new">
                                NEW
                            </div>
                            <p class="product-item-info-stock">
                                В наличии
                            </p>
                            <form>
                                <input type="submit" class="btn btn-warning button-product-item-buy" value="Купить">
                            </form>
                            <div class="product-item-seller-info">
                                <a href="#">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                    +380 *********
                                </a>
                                <br />
                                <a href="#">
                                    <i class="fa fa-rocket" aria-hidden="true"></i>
                                    Отправить сообщение
                                </a>
                                <br />
                                <a href="#">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    Добавить в избранное
                                </a>
                            </div>
                        </div>
                        <div class="product-item-seller-more-info">
                            <h3>Информация о продавце</h3>
                            <div class="seller-number-mail">
                                <a href="#">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                    +380 *********
                                </a>
                                <br />
                                <a href="#">
                                    <i class="fa fa-rocket" aria-hidden="true"></i>
                                    Отправить сообщение
                                </a>
                            </div>
                            <h4>Достижения продавца</h4>
                            <div class="seller-achievements">
                                <p class="seller-achievement-for-rate">
                                    <i class="fa fa-gift" aria-hidden="true"></i>
                                </p>
                                <p class="seller-achievement-for-price">
                                    <i class="fa fa-tag" aria-hidden="true"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--end all about info and seller-->
                </div>
                <!--End all about product-->
                <!--All about Description&Feedbacks-->
                <div class="product-description-feedbacks">
                    <div class="product-description">
                        <h3>Описание <span class="product-model-description">Acer Aspire ES1-131-C57G (NX.G17EU.004) Red</span></h3>
                        <p>
                            <strong>Удовольствие от ежедневной работы на компьютере</strong>
                            <br />
                            Ноутбук Aspire ES1 предлагает проверенные временем технологии, которые обеспечивают высокую производительность, развлечения и коммуникации. Aspire ES1 обладает тонким и легким корпусом и в то же время оснащен новейшим процессором, который позволяет справиться со всеми повседневными задачами.
                            <br />
                            <br />
                            <strong>Превосходная функциональность</strong>
                            <br />
                            Быстро и безопасно открывайте веб-страницы, общайтесь и смотрите видео на ходу на ноутбуке Aspire ES1 с процессорами Intel и скоростной памятью. Наслаждайтесь работой на превосходном экране формата HD, а вместительный жесткий диск предоставит больше места для ваших мультимедийных файлов.
                            <br />
                            <br />
                            <strong>Удивительно тонкий</strong>
                            <br />
                            Ноутбук Aspire ES1 предлагает надежную, портативную и доступную платформу для работы, а благодаря компактному размеру легко помещается в рюкзаке или портфеле и не занимает много места на рабочем столе.
                            <br />
                            <br />
                            <strong>Поразительные развлечения</strong>
                            <br />
                            Фильмы и видео отличаются великолепным качеством изображения на светодиодном дисплее формата HD ноутбука Aspire ES1, и просмотр превращается в настоящее кинематографическое событие. Вы можете еще больше усилить это впечатление, используя порт HDMI для подключения телевизора высокой четкости.
                            <br />
                            <br />
                            <strong>Надежное хранение</strong>
                            <br />
                            Вы можете быть владельцем малого или среднего бизнеса, родителем, фотографом или кем угодно, но вам гарантировано душевное спокойствие от осознания того, что ваши личные данные и ценные воспоминания находятся в абсолютной безопасности.
                        </p>
                    </div>
                    <div class="product-feedbacks">
                        <h3>Отзыв о товаре</h3>
                        <hr />
                        <div class="product-feedbacks-form-main">
                            <form>
                                <label class="feedback-form-main-label" for="dignity">Достоинства</label>
                                <input class="feedback-form-main-input" id="dignity" name="Dignity" type="text">

                                <label class="feedback-form-main-label" for="limitations">Недостатки</label>
                                <input class="feedback-form-main-input" id="limitations" name="Limitations" type="text">

                                <label class="feedback-form-main-label" for="comment">Комментарий</label>
                                <textarea class="feedback-form-main-textarea" id="comment" name="Сomment"> </textarea>

                                <label class="feedback-form-main-label" for="firstName">Ваше имя</label>
                                <input class="feedback-form-main-input" id="firstName" name="FirstName" type="email">

                                <label class="feedback-form-main-label" for="email">Email</label>
                                <input class="feedback-form-main-input" id="email" name="Email" type="email">
                            </form>
                        </div>
                    </div>
                </div>
                <!--End all about Description&Feedbacks-->
            </div>
        </div>
    </div>
</div>
<!-- END OF PRODUCT -->
