
<!-- BUCKET-->
<div class="fluid-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="bucket">
                    <div class="bucket_position">
                        <div class="bucket_tov">
                            <img src="@Url.Content("~/Content/Images/item1.jpg")">
                            <p>
                                HTC X715e Amaze 4G (Black) Экслюзивно в Кнопке!
                            </p>
                        </div>

                        <div class="bucket_sum">
                            <span class="minus">-</span>
                            <input type="text" class="form-control sum_form" value="1">
                            <span class="plus">+</span>
                        </div>

                        <div class="bucket_price">
                            <p class="price">
                                13213213<span>$</span>
                            </p>
                        </div>
                    </div>

                    <div class="bucket_position">
                        <div class="bucket_tov">
                            <img src="@Url.Content("~/Content/Images/item1.jpg")">
                            <p>
                                Acer Aspire One ZG5
                            </p>
                        </div>

                        <div class="bucket_sum">
                            <span class="minus">-</span>
                            <input type="text" class="form-control sum_form" value="1">
                            <span class="plus">+</span>
                        </div>

                        <div class="bucket_price">
                            <p class="price">
                                45647<span>$</span>
                            </p>
                        </div>
                    </div>
                    <div class="bucket_finish">
                        <p id="full" class="coast">
                            всего <span>344323</span>$
                        </p>
                        <input type="button" class="btn buck_by" value="Купить">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END - BUCKET -->
