  <!-- REGISTRATION -->
<div class="fluid-container">
    <div class="container">
        <div class="row">
            <div id="registration" class="reg_form">
                <h1 class="reg_title">Регистрация</h1>
                <form class="reg_label">
                    <label>
                        <p>Имя</p>
                        <input name="FirstName" type="text">
                    </label>
                    <label>
                        <p>Фамилия</p>
                        <input name="Phone" type="text">
                    </label>
                    <label>
                        <p>Login</p>
                        <input name="Login" type="text">
                    </label>
                    <label>
                        <p>Email</p>
                        <input name="Email" type="text">
                    </label>
                    <label>
                        <p>Пароль</p>
                        <input name="Password" type="text">
                    </label>
                    <label>
                        <p>Повторите пароль</p>
                        <input name="Password" type="text">
                    </label>
                    <button type="submit" class="btn btn-default reg_btn">Зарегистрироваться</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!--END-REGISTRATION -->

