<!-- FOOTER -->
<footer class="fluid-container">
    <div class="footer-wrap">
        <div class="footer-about-us">О нас</div>
        <div class="footer-enjoy">Вопросы и ответы</div>
        <div class="footer-contacts">Конткты</div>
        <div class="footer-social">
            <a href="#" class="footer-social-link"><i class="fa fa-vk"></i></a>
            <a href="#" class="footer-social-link"><i class="fa fa-facebook-square"></i></a>
            <a href="#" class="footer-social-link"><i class="fa fa-instagram"></i></a>
            <a href="#" class="footer-social-link"><i class="fa fa-tumblr"></i></a>
        </div>
    </div>
</footer>