<!-- FOOTER -->
<footer class="fluid-container footer-wrap">
    <!-- FOOTER -> TOP-FOOTER -->
    <div class="fluid-container top-footer-wrap">
        <div class="container top-footer-img">
            <div class="row">
                <div class="col-xs-12">
                    <p class="top-footer-text">Здесь мы напишем что-то интересное чуть позже) <a href="#">возможно ссылка</a></p>
                    <a class="top-footer-btn" href="#">+ голубая кнопка</a>
                </div>
            </div>
        </div>
    </div>
    <!-- FOOTER -> MAIN -->
    <div class="container">
        <div class="row">
            <div class="col-xs-3">
                <dl class="footer-links-wrap">
                    <dt class="footer-links-title">Здесь</dt>
                    <dd class="footer-links-text"><a class="footer-links" href="#">будут</a></dd>
                    <dd class="footer-links-text"><a class="footer-links" href="#">какието</a></dd>
                    <dd class="footer-links-text"><a class="footer-links" href="#">прикольные</a></dd>
                    <dd class="footer-links-text"><a class="footer-links" href="#">штуки</a></dd>
                </dl>
            </div>

            <div class="col-xs-3">
                <dl class="footer-links-wrap">
                    <dt class="footer-links-title">Здесь</dt>
                    <dd class="footer-links-text"><a class="footer-links" href="#">будут</a></dd>
                    <dd class="footer-links-text"><a class="footer-links" href="#">какието</a></dd>
                    <dd class="footer-links-text"><a class="footer-links" href="#">прикольные</a></dd>
                    <dd class="footer-links-text"><a class="footer-links" href="#">штуки</a></dd>
                </dl>
            </div>

            <div class="col-xs-3">
                <dl class="footer-links-wrap">
                    <dt class="footer-links-title">Здесь</dt>
                    <dd class="footer-links-text"><a class="footer-links" href="#">будут</a></dd>
                    <dd class="footer-links-text"><a class="footer-links" href="#">какието</a></dd>
                    <dd class="footer-links-text"><a class="footer-links" href="#">прикольные</a></dd>
                    <dd class="footer-links-text"><a class="footer-links" href="#">штуки</a></dd>
                </dl>
            </div>
            <!-- FOOTER -> MAIN -> SOCIAL -->
            <div class="col-xs-3">
                <ul class="footer-social-links-wrap">
                    <li class="footer-social-links-title">Комьюнити</li>
                    <li class="footer-social-links-btns-wrap"><a href="#" class="footer-social-links-btns vk-footer-social"></a></li>
                    <li class="footer-social-links-btns-wrap"><a href="#" class="footer-social-links-btns fb-footer-social"></a></li>
                    <li class="footer-social-links-btns-wrap"><a href="#" class="footer-social-links-btns tw-footer-social"></a></li>
                </ul>
            </div>
            
        </div>
    </div>

</footer>