 <!-- _HEADER.HTML HEADER -->
<header class="fluid-container header-wrap">
    <!-- TOP-HEADER -->
    <div class="fluid-container top-header-wrap">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <!-- TOP-HEADER -> LOGO -->
                    <div class="top-header-logo-wrap">
                        <a class="top-header-logo-link" href="#">
                            <img class="top-header-logo-img" src="@Url.Content("~/Content/Images/logo.png")" alt="">
                        </a>
                    </div>
                    <!-- TOP-HEADER -> BUYER-SUPPLIER -->
                    <div class="top-header-buyer-supplier-wrap">
                        <a href="#" class="top-header-buyer">Buyer</a>
                        <a href="#" class="top-header-supplier">Supplier</a>
                    </div>
                    <!-- TOP-HEADER -> CART -->
                    <div class="top-header-cart-wrap">
                        <a href="#" class="top-header-profile">Profile</a>
                        <a href="#" class="top-header-login">Log in</a>
                        <a href="#" class="top-header-signup">Sign up</a>
                        <a href="#" class="top-header-cart">
                            <i class="fa fa-shopping-cart top-header-cart-img"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- END OF TOP-HEADER -->
    <!-- BOTTOM-HEADER -->
    <div class="fluid-container bottom-header-wrap">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="bottom-header-search">
                        <form>
                            <input type="search" class="bottom-header-search-field" placeholder="Поиск..">
                            <select class="bottom-header-search-category">
                                <option>По всем категориям</option>
                                <option>категория1</option>
                                <option>категория2</option>
                                <option>категория3</option>
                                <option>категория4</option>
                            </select>
                            <input type="submit" class="btn btn-warning bottom-header-search-btn" value="Search">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>