<!-- INDEX.HTML -> MAIN -->
<section class="fluid-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="main-wrap">
                    <!-- LEFT-SIDEBAR -->
                    <nav class="left-sidebar-wrap">
                        <div class="left-sidebar-title">
                            Категории
                        </div>
                        <ul class="left-sidebar-nav">
                            <li class="left-sidebar-nav-li"><a href="">Категория-1<i class="fa fa-angle-right left-sidebar-nav-li-angle"></i></a></li>
                            <li class="left-sidebar-nav-li"><a href="">Категория-2<i class="fa fa-angle-right left-sidebar-nav-li-angle"></i></a></li>
                            <li class="left-sidebar-nav-li"><a href="">Категория-3<i class="fa fa-angle-right left-sidebar-nav-li-angle"></i></a></li>
                            <li class="left-sidebar-nav-li"><a href="">Категория-4<i class="fa fa-angle-right left-sidebar-nav-li-angle"></i></a></li>
                            <li class="left-sidebar-nav-li"><a href="">Категория-5<i class="fa fa-angle-right left-sidebar-nav-li-angle"></i></a></li>
                            <li class="left-sidebar-nav-li"><a href="">Категория-6<i class="fa fa-angle-right left-sidebar-nav-li-angle"></i></a></li>
                            <li class="left-sidebar-nav-li"><a href="">Категория-7<i class="fa fa-angle-right left-sidebar-nav-li-angle"></i></a></li>
                            <li class="left-sidebar-nav-li"><a href="">Категория-8<i class="fa fa-angle-right left-sidebar-nav-li-angle"></i></a></li>
                            <li class="left-sidebar-nav-li"><a href="">Категория-9<i class="fa fa-angle-right left-sidebar-nav-li-angle"></i></a></li>
                            <li class="left-sidebar-nav-li"><a href="">Категория-10<i class="fa fa-angle-right left-sidebar-nav-li-angle"></i></a></li>
                        </ul>
                    </nav>
                    <!-- OVER-SLIDER-BUTTONS -->
                    <div class="over-slider-btns">
                        <a class="over-slider-btn-1" href="#">Тут что-то будет</a>
                        <a class="over-slider-btn-2" href="#">Тут что-то будет</a>
                    </div>
                    <!-- SLIDER-MAIN -->
                    <div class="slider-main-wrap">
                        <div class="slider-main-next-button"><i class="fa fa-angle-right"></i></div>
                        <div class="slider-main-prev-button"><i class="fa fa-angle-left"></i></div>
                        
                        <div class="slider-main">
                            <div class="slide-main-item"><img src="@Url.Content("~/Content/Images/item1.jpg")" class="slide-main-item-img"></div>
                            <div class="slide-main-item"><img src="@Url.Content("~/Content/Images/item1.jpg")" class="slide-main-item-img"></div>
                            <div class="slide-main-item"><img src="@Url.Content("~/Content/Images/item1.jpg")" class="slide-main-item-img"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- END OF INDEX.HTML -> MAIN -->

<!-- INDEX.HTML -> TOP-PRODUCTS -->
<section class="fluid-container top-products-wrap">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 ">
                <div class="top-products-row">
                    <div class="top-products-item">
                        На стадии разработки!
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END OF INDEX.HTML -> TOP-PRODUCTS -->