@model IEnumerable<TradingCms.DTOs.CategoryDTO>
<!-- INDEX.HTML -> MAIN -->
<section class="fluid-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="main-wrap">
                    <!-- LEFT-SIDEBAR -->
                    <nav class="left-sidebar-wrap">
                        <div class="left-sidebar-title">
                            Категории
                        </div>
                        <ul class="left-sidebar-nav">
                            @foreach (var item in Model.Where(item => item.TopId == 0))
                            {
                                <li class="left-sidebar-nav-li left-sidebar-category-@item.Id"><a href="" target="_self" title="">@item.Name<i class="fa fa-angle-right left-sidebar-nav-li-angle"></i></a></li>
                            }
                        </ul>
                    </nav>
                    <div class="right-content-wrap">
                        <!-- OVER-SLIDER-BUTTONS -->
                        <div class="over-slider-btns">
                            <a class="over-slider-btn-1" href="#">Тут что-то будет</a>
                            <a class="over-slider-btn-2" href="#">Тут что-то будет</a>
                        </div>
                        <!-- SLIDER-MAIN -->
                        <div class="right-content-slider">
                            <div>
                                <img src="~/Content/Images/slide-1.jpg" />
                            </div>
                            <div>
                                <img src="~/Content/Images/slide-2.jpg" />
                            </div>
                            <div>
                                <img src="~/Content/Images/slide-3.jpg" />
                            </div>
                            <div>
                                <img src="~/Content/Images/slide-4.jpg" />
                            </div>
                            <div>
                                <img src="~/Content/Images/slide-5.jpg" />
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END OF INDEX.HTML -> MAIN -->
<!-- INDEX.HTML -> TOP-RECENTLY-PRODUCTS -->
<section class="fluid-container top-products-wrap">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 ">
                <!-- TOP-PRODUCTS -->
                <div class="top-products-row">
                    <!-- TOP-PRODUCTS -> TITLE -->
                    <div class="top-products-title-wrap">
                        <h3 class="top-products-title">
                            Заголовок
                        </h3>
                    </div>
                    <!-- TOP-PRODUCTS -> ITEMS -->
                    <div class="top-products-slider-wrap">
                        <div class="top-products-item-wrap">
                            <a href="#"><img class="top-products-item-img" src="~/Content/Images/top-slide-1.jpeg" /></a>
                            <div class="top-products-item-text-wrap">
                                <p class="top-products-item-title">Название товара</p>
                                <div class="top-products-item-price-det-wrap">
                                    <p class="top-products-item-price">80$</p>
                                    <a class="top-products-item-det-link" href="#">Подробнее</a>
                                </div>
                            </div>
                        </div>

                        <div class="top-products-item-wrap">
                            <a href="#"><img class="top-products-item-img" src="~/Content/Images/top-slide-2.jpeg" /></a>
                            <div class="top-products-item-text-wrap">
                                <p class="top-products-item-title">Название товара</p>
                                <div class="top-products-item-price-det-wrap">
                                    <p class="top-products-item-price">80$</p>
                                    <a class="top-products-item-det-link" href="#">Подробнее</a>
                                </div>
                            </div>
                        </div>

                        <div class="top-products-item-wrap">
                            <a href="#"><img class="top-products-item-img" src="~/Content/Images/top-slide-3.jpeg" /></a>
                            <div class="top-products-item-text-wrap">
                                <p class="top-products-item-title">Название товара</p>
                                <div class="top-products-item-price-det-wrap">
                                    <p class="top-products-item-price">80$</p>
                                    <a class="top-products-item-det-link" href="#">Подробнее</a>
                                </div>
                            </div>
                        </div>

                        <div class="top-products-item-wrap">
                            <a href="#"><img class="top-products-item-img" src="~/Content/Images/top-slide-4.jpeg" /></a>
                            <div class="top-products-item-text-wrap">
                                <p class="top-products-item-title">Название товара</p>
                                <div class="top-products-item-price-det-wrap">
                                    <p class="top-products-item-price">80$</p>
                                    <a class="top-products-item-det-link" href="#">Подробнее</a>
                                </div>
                            </div>
                        </div>

                        <div class="top-products-item-wrap">
                            <a href="#"><img class="top-products-item-img" src="~/Content/Images/top-slide-5.jpeg" /></a>
                            <div class="top-products-item-text-wrap">
                                <p class="top-products-item-title">Название товара</p>
                                <div class="top-products-item-price-det-wrap">
                                    <p class="top-products-item-price">80$</p>
                                    <a class="top-products-item-det-link" href="#">Подробнее</a>
                                </div>
                            </div>
                        </div>

                        <div class="top-products-item-wrap">
                            <a href="#"><img class="top-products-item-img" src="~/Content/Images/top-slide-6.jpeg" /></a>
                            <div class="top-products-item-text-wrap">
                                <p class="top-products-item-title">Название товара</p>
                                <div class="top-products-item-price-det-wrap">
                                    <p class="top-products-item-price">80$</p>
                                    <a class="top-products-item-det-link" href="#">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- RECENTLY-PRODUCTS -->
                <div class="recently-products-row">
                    <!-- RECENTLY-PRODUCTS -> TITLE -->
                    <div class="recently-products-title-wrap">
                        <h3 class="recently-products-title">
                            Заголовок 2
                        </h3>
                    </div>
                    <!-- RECENTLY-PRODUCTS -> ITEMS -->
                    <div class="recently-products-slider-wrap">
                        <div class="recently-products-item-wrap">
                            <a href="#"><img class="recently-products-item-img" src="~/Content/Images/top-slide-6.jpeg" /></a>
                            <div class="recently-products-item-text-wrap">
                                <p class="recently-products-item-title">Название товара</p>
                                <div class="recently-products-item-price-det-wrap">
                                    <p class="recently-products-item-price">80$</p>
                                    <a class="recently-products-item-det-link" href="#">Подробнее</a>
                                </div>
                            </div>
                        </div>

                        <div class="recently-products-item-wrap">
                            <a href="#"><img class="recently-products-item-img" src="~/Content/Images/top-slide-5.jpeg" /></a>
                            <div class="recently-products-item-text-wrap">
                                <p class="recently-products-item-title">Название товара</p>
                                <div class="recently-products-item-price-det-wrap">
                                    <p class="recently-products-item-price">80$</p>
                                    <a class="recently-products-item-det-link" href="#">Подробнее</a>
                                </div>
                            </div>
                        </div>

                        <div class="recently-products-item-wrap">
                            <a href="#"><img class="recently-products-item-img" src="~/Content/Images/top-slide-4.jpeg" /></a>
                            <div class="recently-products-item-text-wrap">
                                <p class="recently-products-item-title">Название товара</p>
                                <div class="recently-products-item-price-det-wrap">
                                    <p class="recently-products-item-price">80$</p>
                                    <a class="recently-products-item-det-link" href="#">Подробнее</a>
                                </div>
                            </div>
                        </div>

                        <div class="recently-products-item-wrap">
                            <a href="#"><img class="recently-products-item-img" src="~/Content/Images/top-slide-3.jpeg" /></a>
                            <div class="recently-products-item-text-wrap">
                                <p class="recently-products-item-title">Название товара</p>
                                <div class="recently-products-item-price-det-wrap">
                                    <p class="recently-products-item-price">80$</p>
                                    <a class="recently-products-item-det-link" href="#">Подробнее</a>
                                </div>
                            </div>
                        </div>

                        <div class="recently-products-item-wrap">
                            <a href="#"><img class="recently-products-item-img" src="~/Content/Images/top-slide-2.jpeg" /></a>
                            <div class="recently-products-item-text-wrap">
                                <p class="recently-products-item-title">Название товара</p>
                                <div class="recently-products-item-price-det-wrap">
                                    <p class="recently-products-item-price">80$</p>
                                    <a class="recently-products-item-det-link" href="#">Подробнее</a>
                                </div>
                            </div>
                        </div>

                        <div class="recently-products-item-wrap">
                            <a href="#"><img class="recently-products-item-img" src="~/Content/Images/top-slide-1.jpeg" /></a>
                            <div class="recently-products-item-text-wrap">
                                <p class="recently-products-item-title">Название товара</p>
                                <div class="recently-products-item-price-det-wrap">
                                    <p class="recently-products-item-price">80$</p>
                                    <a class="recently-products-item-det-link" href="#">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- END OF INDEX.HTML -> TOP-RECENTLY-PRODUCTS -->