<div class="fluid-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="main">

                    <div class="panel-group sidebar-wrap" id="accordion">
                        <div class="sidebar-title">
                            Категории
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading category_heading" id="headingOne">
                                <a class="panel-title category_item" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    Ноутбуки
                                </a>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul class="subcategory-dropdown">
                                        <li><a href="">Нетбуки</a></li>
                                        <li><a href="">Макбуки</a></li>
                                        <li><a href="">Ноутбуки</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading category_heading" role="tab" id="headingTwo">
                                <a class="panel-title category_item" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                    Телефоны
                                </a>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul class="subcategory-dropdown">
                                        <li><a href="">Смартфоны</a></li>
                                        <li><a href="">Макбуки</a></li>
                                        <li><a href="">Ноутбуки</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading category_heading" id="headingThree">
                                <a class="panel-title category_item" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                    Бытовая
                                </a>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul class="subcategory-dropdown">
                                        <li><a href="">Нетбуки</a></li>
                                        <li><a href="">Макбуки</a></li>
                                        <li><a href="">Ноутбуки</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading category_heading" role="tab" id="headingFour">
                                <a class="panel-title category_item" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                    Кухня
                                </a>
                            </div>
                            <div id="collapseFour" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul class="subcategory-dropdown">
                                        <li><a href="">Нетбуки</a></li>
                                        <li><a href="">Макбуки</a></li>
                                        <li><a href="">Ноутбуки</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading category_heading" id="headingfive">
                                <a class="panel-title category_item" data-toggle="collapse" data-parent="#accordion" href="#collapsefive">
                                    Аудио
                                </a>
                            </div>
                            <div id="collapsefive" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul class="subcategory-dropdown">
                                        <li><a href="">Нетбуки</a></li>
                                        <li><a href="">Макбуки</a></li>
                                        <li><a href="">Ноутбуки</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading category_heading" id="headingsix">
                                <a class="panel-title category_item" data-toggle="collapse" data-parent="#accordion" href="#collapsesix">
                                    ТВ
                                </a>
                            </div>
                            <div id="collapsesix" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul class="subcategory-dropdown">
                                        <li><a href="">Нетбуки</a></li>
                                        <li><a href="">Макбуки</a></li>
                                        <li><a href="">Ноутбуки</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading category_heading" id="headingseven">
                                <a class="panel-title category_item" data-toggle="collapse" data-parent="#accordion" href="#collapseseven">
                                    Спорт
                                </a>
                            </div>
                            <div id="collapseseven" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul class="subcategory-dropdown">
                                        <li><a href="">Нетбуки</a></li>
                                        <li><a href="">Макбуки</a></li>
                                        <li><a href="">Ноутбуки</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="slider_container">
                        <div class="next_but"><i class="fa fa-angle-right"></i></div>
                        <div class="prev_but"><i class="fa fa-angle-left"></i></div>
                        <div class="carous">
                            <div class="slide_item"><img src="@Url.Content("~/Content/Images/item1.jpg")"></div>
                            <div class="slide_item"><img src="@Url.Content("~/Content/Images/item2.jpg")"></div>
                            <div class="slide_item"><img src="@Url.Content("~/Content/Images/item3.jpg")"></div>
                        </div>
                    </div>

                    <div class="top_tovar">
                        <div class="top-category">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>

                        <div class="bottom-category">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>