<!-- INDEX.HTML -> MAIN -->
<section class="fluid-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="main-wrap">
                    <!-- LEFT-SIDEBAR -->
                    <nav class="left-sidebar-wrap">
                        <div class="left-sidebar-title">
                            Категории
                        </div>
                        <ul class="left-sidebar-nav">
                            <li class="left-sidebar-nav-li left-sidebar-category-1"><a href="" target="_self" title="">Категория-1<i class="fa fa-angle-right left-sidebar-nav-li-angle"></i></a></li>
                            <li class="left-sidebar-nav-li left-sidebar-category-2"><a href="" target="_self" title="">Категория-2<i class="fa fa-angle-right left-sidebar-nav-li-angle"></i></a></li>
                            <li class="left-sidebar-nav-li left-sidebar-category-3"><a href="" target="_self" title="">Категория-3<i class="fa fa-angle-right left-sidebar-nav-li-angle"></i></a></li>
                            <li class="left-sidebar-nav-li left-sidebar-category-4"><a href="" target="_self" title="">Категория-4<i class="fa fa-angle-right left-sidebar-nav-li-angle"></i></a></li>
                            <li class="left-sidebar-nav-li left-sidebar-category-5"><a href="" target="_self" title="">Категория-5<i class="fa fa-angle-right left-sidebar-nav-li-angle"></i></a></li>
                            <li class="left-sidebar-nav-li left-sidebar-category-6"><a href="" target="_self" title="">Категория-6<i class="fa fa-angle-right left-sidebar-nav-li-angle"></i></a></li>
                            <li class="left-sidebar-nav-li left-sidebar-category-7"><a href="" target="_self" title="">Категория-7<i class="fa fa-angle-right left-sidebar-nav-li-angle"></i></a></li>
                            <li class="left-sidebar-nav-li left-sidebar-category-8"><a href="" target="_self" title="">Категория-8<i class="fa fa-angle-right left-sidebar-nav-li-angle"></i></a></li>
                            <li class="left-sidebar-nav-li left-sidebar-category-9"><a href="" target="_self" title="">Категория-9<i class="fa fa-angle-right left-sidebar-nav-li-angle"></i></a></li>
                            <li class="left-sidebar-nav-li left-sidebar-category-10"><a href="" target="_self" title="">Категория-10<i class="fa fa-angle-right left-sidebar-nav-li-angle"></i></a></li>
                        </ul>
                    </nav>
                    <div class="right-content-wrap">
                        <!-- OVER-SLIDER-BUTTONS -->
                        <div class="over-slider-btns">
                            <a class="over-slider-btn-1" href="#">Тут что-то будет</a>
                            <a class="over-slider-btn-2" href="#">Тут что-то будет</a>
                        </div>
                        <!-- SLIDER-MAIN -->
                        <div class="slider-main-wrap">
                            <div class="slider-main-next-button"><i class="fa fa-angle-right"></i></div>
                            <div class="slider-main-prev-button"><i class="fa fa-angle-left"></i></div>

                            <div class="slider-main">
                                <div class="slide-main-item"><img src="@Url.Content("~/Content/Images/item1.jpg")" class="slide-main-item-img"></div>
                                <div class="slide-main-item"><img src="@Url.Content("~/Content/Images/item1.jpg")" class="slide-main-item-img"></div>
                                <div class="slide-main-item"><img src="@Url.Content("~/Content/Images/item1.jpg")" class="slide-main-item-img"></div>
                            </div>
                        </div>
                    </div>
                    

                </div>
            </div>
        </div>
    </div>
</section>
<!-- END OF INDEX.HTML -> MAIN -->

<!-- INDEX.HTML -> TOP-RECENTLY-PRODUCTS -->
<section class="fluid-container top-products-wrap">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 ">
                <!-- TOP-PRODUCTS -->
                <div class="top-products-row">
                    <!-- TOP-PRODUCTS -> TITLE -->
                    <div class="top-products-title-wrap">
                        <h3 class="top-products-title">
                            Заголовок
                        </h3>
                    </div>
                    <!-- TOP-PRODUCTS -> ITEMS -->
                    <div class="top-products-item-wrap">
                        <div class="top-products-item-img-wrap">
                            <a href="#"><img class="top-products-item-img" src="~/Content/Images/уу.jpeg" /></a>
                        </div>  
                        <div class="top-products-item-text-wrap">
                            <p class="top-products-item-title">Название товара</p>
                            <div class="top-products-item-price-det-wrap">
                                <p class="top-products-item-price">80$</p>
                                <a class="top-products-item-det-link" href="#">Подробнее</a>
                            </div>
                        </div>
                    </div>

                    <div class="top-products-item-wrap">
                        <div class="top-products-item-img-wrap">
                            <a href="#"><img class="top-products-item-img" src="~/Content/Images/уу.jpeg" /></a>
                        </div>
                        <div class="top-products-item-text-wrap">
                            <p class="top-products-item-title">Название товара</p>
                            <div class="top-products-item-price-det-wrap">
                                <p class="top-products-item-price">80$</p>
                                <a class="top-products-item-det-link" href="#">Подробнее</a>
                            </div>
                        </div>
                    </div>

                    <div class="top-products-item-wrap">
                        <div class="top-products-item-img-wrap">
                            <a href="#"><img class="top-products-item-img" src="~/Content/Images/уу.jpeg" /></a>
                        </div>
                        <div class="top-products-item-text-wrap">
                            <p class="top-products-item-title">Название товара</p>
                            <div class="top-products-item-price-det-wrap">
                                <p class="top-products-item-price">80$</p>
                                <a class="top-products-item-det-link" href="#">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- RECENTLY-PRODUCTS -->
                <div class="recently-products-row">
                    <!-- RECENTLY-PRODUCTS -> TITLE -->
                    <div class="recently-products-title-wrap">
                        <h3 class="recently-products-title">
                            Заголовок 2
                        </h3>
                    </div>
                    <!-- RECENTLY-PRODUCTS -> ITEMS -->
                    <div class="recently-products-item-wrap">
                            <a href="#"><img class="recently-products-item-img" src="~/Content/Images/уу.jpeg" /></a>
                        <div class="recently-products-item-text-wrap">
                            <p class="recently-products-item-title">Название товара</p>
                            <div class="recently-products-item-price-det-wrap">
                                <p class="recently-products-item-price">80$</p>
                                <a class="recently-products-item-det-link" href="#">Подробнее</a>
                            </div>
                        </div>
                    </div>

                    <div class="recently-products-item-wrap">
                        <a href="#"><img class="recently-products-item-img" src="~/Content/Images/уу.jpeg" /></a>
                        <div class="recently-products-item-text-wrap">
                            <p class="recently-products-item-title">Название товара</p>
                            <div class="recently-products-item-price-det-wrap">
                                <p class="recently-products-item-price">80$</p>
                                <a class="recently-products-item-det-link" href="#">Подробнее</a>
                            </div>
                        </div>
                    </div>

                    <div class="recently-products-item-wrap">
                        <a href="#"><img class="recently-products-item-img" src="~/Content/Images/уу.jpeg" /></a>
                        <div class="recently-products-item-text-wrap">
                            <p class="recently-products-item-title">Название товара</p>
                            <div class="recently-products-item-price-det-wrap">
                                <p class="recently-products-item-price">80$</p>
                                <a class="recently-products-item-det-link" href="#">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- END OF INDEX.HTML -> TOP-RECENTLY-PRODUCTS -->