<!-- REGISTRATION.HTML -->
<div class="fluid-container">
    <div class="container">
        <div class="row">
            <!-- SIGNUP-FORM -->
            <div id="registration" class="signup-form-wrap">
                <!-- SIGNUP-FORM-HEADER -->
                <div class="signup-form-header-wrap">
                    <div class="signup-form-header-img"></div>
                    <h3 class="signup-form-header-title">Регистрация</h3>
                    <div class="signup-form-header-divider"></div>
                    <h5 class="signup-form-header-sub-title">
                        Уже зарегистрированы?&nbsp;&nbsp;
                        <a class="signup-form-header-sub-title-link" href="#">Войти</a>
                    </h5>
                </div>
                <!-- SIGNUP-FORM-MAIN -->
                <div class="signup-form-main-wrap">
                    <form class="signup-form-main">
                        <label class="signup-form-main-label" for="firstName">Имя</label>
                        <input class="signup-form-main-input" id="firstName" name="FirstName" type="text">

                        <label class="signup-form-main-label" for="lastName">Фамилия</label>
                        <input class="signup-form-main-input" id="lastName" name="LastName" type="text">

                        <label class="signup-form-main-label" for="email">Email</label>
                        <input class="signup-form-main-input" id="email" name="Email" type="email">

                        <label class="signup-form-main-label" for="password">Пароль</label>
                        <input class="signup-form-main-input" id="password" name="Password" type="password">

                        <label class="signup-form-main-label" for="repeatPassword">Повторите пароль</label>
                        <input class="signup-form-main-input" id="repeatPassword" name="RepeatPassword" type="password">
                    </form>
                </div>
                <!-- SIGNUP-FORM-FOOTER -->
                <div class="signup-form-footer-wrap">
                    <input class="signup-form-footer-submit" type="submit" value="Зарегистрироваться">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END OF REGISTRATION.HTML -->